# Ignore target directory
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore Maven wrapper files
!.mvn/wrapper/maven-wrapper.jar

# Ignore build directory
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore environment files
.env

# Ignore IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr

# Ignore Eclipse/STS files
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# Ignore NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Ignore VS Code files
.vscode/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db